<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <div class="card card-header results-block">
    <% @friends.each do |f| %>
        <td><strong>Name: </strong> <%= f.full_name %></td>
        <td><strong>Email: </strong> <%= f.email %></td>
        <td><strong>Profile: </strong> <%= link_to 'View Profile','#', class: 'btn btn-sm btn-success' %></td>
        <%= link_to 'Follow Profile','#', class: 'btn btn-sm btn-success', method: :post %></td>
    <% end %>
  </div>
<% end %>